Análise Exploratória da base de dados empresasBrasil (EMPRESAS+ESTABELECIMENTOS+SIMPLES)

In [100]:
#from google.colab import drive
#drive.mount('/content/drive')

# Carregando Bibliotecas

In [45]:
# bibliotecas para análise de dados
import numpy as np
import pandas as pd
import xlrd

In [4]:
# bibliotecas para visualização
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [15]:
# configurando variáveis do ambiente
import warnings
warnings.filterwarnings('ignore')
pd.options.display.max_columns = None
pd.options.display.max_rows = None
pd.options.display.float_format = '{:.4f}'.format

# VISUALIZAÇÃO E TRATAMENTO DATASET EMPRESAS (EMPRESAS+ESTABELECIMENTOS+SIMPLES)

In [5]:
# IMPORTACAO DA TABELA EMPRESAS BRASIL (EMPRESAS+ESTABELECIMENTOS+SIMPLES) POR UF
#empresasBrasil = pd.read_csv('/content/drive/MyDrive/FURG-TCC/TCC - DADOS E ANALISE/empresasBrasil.csv', sep=',', encoding='UTF-8')
empresasBrasil = pd.read_csv('D:\#PROJETOS\FURG\ECD-CIENCIA DE DADOS\#TCC-FURG\BASE-RFB-12-03-2022\TRATADA\empresasBrasil02.csv', sep=',', encoding='UTF-8')

In [6]:
empresasBrasil.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51860364 entries, 0 to 51860363
Data columns (total 16 columns):
 #   Column          Dtype
---  ------          -----
 0   CNPJ_BASICO     int64
 1   NATJU           float64
 2   CAP_SOCIAL      float64
 3   PORTE           float64
 4   CNPJ_ORDEM      float64
 5   CNPJ_DV         float64
 6   IDE_MAT_FIL     float64
 7   SIT_CADASTRAL   float64
 8   DATA_SIT_CADAS  float64
 9   MOT_SIT_CADAS   float64
 10  DATA_INI_ATV    float64
 11  CNAE_FISCAL     float64
 12  UF              object
 13  MUNICIPIO       float64
 14  OP_SIMPLES      object
 15  MEI             object
dtypes: float64(12), int64(1), object(3)
memory usage: 6.2+ GB

In [7]:
empresasBrasil.head(2)

,CNPJ_BASICO,NATJU,CAP_SOCIAL,PORTE,CNPJ_ORDEM,CNPJ_DV,IDE_MAT_FIL,SIT_CADASTRAL,DATA_SIT_CADAS,MOT_SIT_CADAS,DATA_INI_ATV,CNAE_FISCAL,UF,MUNICIPIO,OP_SIMPLES,MEI
0,41273603,2062.0,10000.0,1.0,1.0,44.0,1.0,2.0,20210318.0,0.0,20210318.0,4789099.0,PR,7535.0,S,N
1,41273604,2062.0,10000.0,1.0,1.0,99.0,1.0,2.0,20210318.0,0.0,20210318.0,8592901.0,RS,8625.0,S,N

In [20]:
empresasBrasil["UF"].value_counts()

SP    14877363
MG     5676236
RJ     4485142
RS     3719569
PR     3472460
BA     2646160
SC     2335487
GO     1788008
PE     1582849
CE     1475782
ES     1080110
PA     1055973
MT      948671
DF      875488
MA      798692
MS      697221
PB      662235
RN      605673
AM      545222
AL      503223
PI      462160
RO      370239
TO      350235
SE      347310
EX      153114
AC      125117
AP      120291
RR      100314
BR           1
Name: UF, dtype: int64

In [131]:
#SEPARAR EMPRESAS DE PERNAMBUCO
def listaPib(dataframe, valores):
    return dataframe.loc[dataframe['UF'].isin(valores)]
lista = ['PE']
empresasPE = listaPib(empresasBrasil, lista)

In [132]:
empresasPE

,CNPJ_BASICO,NATJU,CAP_SOCIAL,PORTE,CNPJ_ORDEM,CNPJ_DV,IDE_MAT_FIL,SIT_CADASTRAL,DATA_SIT_CADAS,MOT_SIT_CADAS,DATA_INI_ATV,CNAE_FISCAL,UF,MUNICIPIO,OP_SIMPLES,MEI
16,41273619,2135.0,10000.0,1.0,1.0,57.0,1.0,2.0,20210318.0,0.0,20210318.0,1091102.0,PE,2491.0,S,S
43,41273645,2135.0,2500.0,1.0,1.0,85.0,1.0,2.0,20210318.0,0.0,20210318.0,4781400.0,PE,2457.0,S,S
47,41273649,2135.0,300.0,1.0,1.0,63.0,1.0,2.0,20210318.0,0.0,20210318.0,5620104.0,PE,2467.0,S,S
57,41273659,2135.0,5000.0,1.0,1.0,7.0,1.0,2.0,20210318.0,0.0,20210318.0,4763601.0,PE,2457.0,S,S
67,41273669,2135.0,2500.0,1.0,1.0,34.0,1.0,2.0,20210318.0,0.0,20210318.0,8219999.0,PE,2531.0,S,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51860292,0,NaN,NaN,NaN,5379.0,18.0,2.0,2.0,20051103.0,0.0,20030924.0,6422100.0,PE,2531.0,N,N
51860318,0,NaN,NaN,NaN,2910.0,64.0,2.0,8.0,19910524.0,1.0,19830901.0,6421200.0,PE,2329.0,N,N
51860320,0,NaN,NaN,NaN,115.0,50.0,2.0,2.0,20051103.0,0.0,19660801.0,6422100.0,PE,2499.0,N,N
51860328,0,NaN,NaN,NaN,2919.0,0.0,2.0,2.0,20051103.0,0.0,19830901.0,6422100.0,PE,2391.0,N,N
51860349,4631962,NaN,NaN,NaN,1.0,8.0,1.0,8.0,20040503.0,1.0,20010828.0,8630503.0,PE,2589.0,NaN,NaN

In [151]:
#EXPORTAR TABELA DE EMPRESAS DE PE
empresasPE.to_csv(r'D:\#PROJETOS\FURG\ECD-CIENCIA DE DADOS\#TCC-FURG\BASE-RFB-12-03-2022\TRATADA\empresasPE.csv', index = False)

In [134]:
#VERIFICAR VALORES FALTANTES
print(pd.isnull(empresasPE).sum())

CNPJ_BASICO            0
NATJU                280
CAP_SOCIAL           280
PORTE                281
CNPJ_ORDEM             0
CNPJ_DV                0
IDE_MAT_FIL            0
SIT_CADASTRAL          0
DATA_SIT_CADAS         0
MOT_SIT_CADAS          0
DATA_INI_ATV           0
CNAE_FISCAL            0
UF                     0
MUNICIPIO              0
OP_SIMPLES        616805
MEI               616805
dtype: int64

In [135]:
# VERIFICAR DADOS DUPLICADOS
duplicados = empresasPE[empresasPE.duplicated(keep='first')]
print(duplicados)

Empty DataFrame
Columns: [CNPJ_BASICO, NATJU, CAP_SOCIAL, PORTE, CNPJ_ORDEM, CNPJ_DV, IDE_MAT_FIL, SIT_CADASTRAL, DATA_SIT_CADAS, MOT_SIT_CADAS, DATA_INI_ATV, CNAE_FISCAL, UF, MUNICIPIO, OP_SIMPLES, MEI]
Index: []

In [136]:
duplicados.head()

Empty DataFrame
Columns: [CNPJ_BASICO, NATJU, CAP_SOCIAL, PORTE, CNPJ_ORDEM, CNPJ_DV, IDE_MAT_FIL, SIT_CADASTRAL, DATA_SIT_CADAS, MOT_SIT_CADAS, DATA_INI_ATV, CNAE_FISCAL, UF, MUNICIPIO, OP_SIMPLES, MEI]
Index: []

In [152]:
# VERIFICAR QTD EMPRESAS POR UF
empresasPE['MUNICIPIO'].value_counts()

2531    461499
2457    127205
2491     91010
2381     79382
2521     69564
         ...
2541       516
2447       484
2637       473
2441       445
2587       436
Name: MUNICIPIO, Length: 185, dtype: int64

In [141]:
# FORMATAR NUMERO DO MUNICIPIO PARA INTEIRO 
empresasPE['MUNICIPIO'] = empresasPE['MUNICIPIO'].astype('int')
empresasPE['MUNICIPIO'].dtypes

C:\Users\ELISAN~1\AppData\Local\Temp/ipykernel_14260/3547639462.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  empresasPE['MUNICIPIO'] = empresasPE['MUNICIPIO'].astype('int')

dtype('int32')

In [143]:
#VISUALIZAR DATASET
empresasPE.head()

,CNPJ_BASICO,NATJU,CAP_SOCIAL,PORTE,CNPJ_ORDEM,CNPJ_DV,IDE_MAT_FIL,SIT_CADASTRAL,DATA_SIT_CADAS,MOT_SIT_CADAS,DATA_INI_ATV,CNAE_FISCAL,UF,MUNICIPIO,OP_SIMPLES,MEI
16,41273619,2135.0,10000.0,1.0,1.0,57.0,1.0,2.0,20210318.0,0.0,20210318.0,1091102.0,PE,2491,S,S
43,41273645,2135.0,2500.0,1.0,1.0,85.0,1.0,2.0,20210318.0,0.0,20210318.0,4781400.0,PE,2457,S,S
47,41273649,2135.0,300.0,1.0,1.0,63.0,1.0,2.0,20210318.0,0.0,20210318.0,5620104.0,PE,2467,S,S
57,41273659,2135.0,5000.0,1.0,1.0,7.0,1.0,2.0,20210318.0,0.0,20210318.0,4763601.0,PE,2457,S,S
67,41273669,2135.0,2500.0,1.0,1.0,34.0,1.0,2.0,20210318.0,0.0,20210318.0,8219999.0,PE,2531,S,S

In [150]:
# IMPORTAR TABELA AUXILIAR MUNICIPIO DO IBGE
MunicipioIBGE = pd.read_csv('D:\#PROJETOS\FURG\ECD-CIENCIA DE DADOS\#TCC-FURG\BASE-RFB-12-03-2022\TRATADA\municipio.csv', sep=',', encoding='UTF-8')
MunicipioIBGE

      N_MUNIC               DESC_MUNIC
0           1            GUAJARA-MIRIM
1           2  ALTO ALEGRE DOS PARECIS
2           3              PORTO VELHO
3           4                  BURITIS
4           5                JI-PARANA
...       ...                      ...
5566     9989               SERRA ALTA
5567     9991                TUNAPOLIS
5568     9993                 GUARINOS
5569     9995               RIO QUENTE
5570     9997         CORONEL SAPUCAIA

[5571 rows x 2 columns]

In [153]:
# FORMATAR TABELA MUNICIPIO IBGE PARA MERGE
MunicipioIBGE.dtypes
MunicipioIBGE = MunicipioIBGE.rename(columns={'N_MUNIC': 'MUNICIPIO'})
MunicipioIBGE.head()

   MUNICIPIO               DESC_MUNIC
0          1            GUAJARA-MIRIM
1          2  ALTO ALEGRE DOS PARECIS
2          3              PORTO VELHO
3          4                  BURITIS
4          5                JI-PARANA

# VISUALIZAÇÃO E TRATAMENTO DATASET PIB POR MUNICIPIO

In [154]:
# IMPORTACAO DA TABELA PIB POR MUNICIPIO (IBGE)
import xlrd
PIB_Municipios = pd.read_excel('D:\#PROJETOS\FURG\ECD-CIENCIA DE DADOS\#TCC-FURG\BASE-RFB-12-03-2022\DADOS IBGE\PIB_Municípios.xls')

In [155]:
# VERIFICANDO COLUNAS
PIB_Municipios.columns

Index(['Ano', 'Código da Grande Região', 'Nome da Grande Região',
       'Código da Unidade da Federação', 'Sigla da Unidade da Federação',
       'Nome da Unidade da Federação', 'Código do Município',
       'Nome do Município', 'Região Metropolitana', 'Código da Mesorregião',
       'Nome da Mesorregião', 'Código da Microrregião', 'Nome da Microrregião',
       'Código da Região Geográfica Imediata',
       'Nome da Região Geográfica Imediata',
       'Município da Região Geográfica Imediata',
       'Código da Região Geográfica Intermediária',
       'Nome da Região Geográfica Intermediária',
       'Município da Região Geográfica Intermediária',
       'Código Concentração Urbana', 'Nome Concentração Urbana',
       'Tipo Concentração Urbana', 'Código Arranjo Populacional',
       'Nome Arranjo Populacional', 'Hierarquia Urbana',
       'Hierarquia Urbana (principais categorias)', 'Código da Região Rural',
       'Nome da Região Rural',
       'Região rural (segundo classificação do núcleo)', 'Amazônia Legal',
       'Semiárido', 'Cidade-Região de São Paulo',
       'Valor adicionado bruto da Agropecuária, \na preços correntes\n(R$ 1.000)',
       'Valor adicionado bruto da Indústria,\na preços correntes\n(R$ 1.000)',
       'Valor adicionado bruto dos Serviços,\na preços correntes \n- exceto Administração, defesa, educação e saúde públicas e seguridade social\n(R$ 1.000)',
       'Valor adicionado bruto da Administração, defesa, educação e saúde públicas e seguridade social, \na preços correntes\n(R$ 1.000)',
       'Valor adicionado bruto total, \na preços correntes\n(R$ 1.000)',
       'Impostos, líquidos de subsídios, sobre produtos, \na preços correntes\n(R$ 1.000)',
       'Produto Interno Bruto, \na preços correntes\n(R$ 1.000)',
       'Produto Interno Bruto per capita, \na preços correntes\n(R$ 1,00)',
       'Atividade com maior valor adicionado bruto',
       'Atividade com segundo maior valor adicionado bruto',
       'Atividade com terceiro maior valor adicionado bruto'],
      dtype='object')

In [156]:
#SELECIONAR COLUNAS DO PIB 
colunasSelecionadas = ['Ano','Sigla da Unidade da Federação',
       'Nome da Unidade da Federação', 'Código do Município',
       'Nome do Município','Produto Interno Bruto, \na preços correntes\n(R$ 1.000)','Atividade com maior valor adicionado bruto']

In [157]:
#SEPARAR PIB DO ANO 2019
def listaPib(dataframe, valores):
    return dataframe.loc[dataframe['Ano'].isin(valores)]
lista = [2019]
PibBrasil2019 = listaPib(PIB_Municipios, lista)

In [158]:
#SEPARAR PIB POR COLUNAS SELECIONADAS
Pib_selecionado = PibBrasil2019.filter(items=colunasSelecionadas)

In [159]:
# RENOMEAR COLUNAS DO DATASET
Pib_selecionado = Pib_selecionado.rename(columns={'Sigla da Unidade da Federação': 'UF', 'Produto Interno Bruto, \na preços correntes\n(R$ 1.000)' : 'PIB'})
Pib_selecionado = Pib_selecionado.rename(columns={'Nome da Unidade da Federação': 'ESTADO', 'Código do Município' : 'COD_MUN'})
Pib_selecionado = Pib_selecionado.rename(columns={'Nome do Município': 'MUNICIPIO', 'Atividade com maior valor adicionado bruto' : 'MAIOR_ATIV'})
Pib_selecionado.head()

,Ano,UF,ESTADO,COD_MUN,MUNICIPIO,PIB,MAIOR_ATIV
50115,2019,RO,Rondônia,1100015,Alta Floresta D'Oeste,495628.767,"Administração, defesa, educação e saúde públic..."
50116,2019,RO,Rondônia,1100023,Ariquemes,2578829.725,Demais serviços
50117,2019,RO,Rondônia,1100031,Cabixi,139959.390,"Administração, defesa, educação e saúde públic..."
50118,2019,RO,Rondônia,1100049,Cacoal,2260643.565,Demais serviços
50119,2019,RO,Rondônia,1100056,Cerejeiras,506854.457,Comércio e reparação de veículos automotores e...

In [161]:
PibBrasil2019 = Pib_selecionado
#SEPARAR PIB 2019 DE PE
def listaPib(dataframe, valores):
    return dataframe.loc[dataframe['UF'].isin(valores)]
lista = ['PE']
PibPE2019 = listaPib(PibBrasil2019, lista)
PibPE2019.to_csv(r'D:\#PROJETOS\FURG\ECD-CIENCIA DE DADOS\#TCC-FURG\BASE-RFB-12-03-2022\TRATADA\PibPE2019.csv', index = False)

# VISUALIZAÇÃO E TRATAMENTO DATASET ARRECADAÇÃO POR MUNICIPIO

In [9]:
#RETORNAR AQUI
# IMPORTAR TABELA ARRECADAÇÃO
import pandas as pd
import xlrd
os.chdir('D:\#PROJETOS\FURG\ECD-CIENCIA DE DADOS\#TCC-FURG\BASE-RFB-12-03-2022\DADOS_IBGE')
arrecadacaoBrasil = pd.read_excel('arrecadacao_municipio-2019.xls')

In [16]:
#VISUALIZAR TABELA ARRECADAÇÃO
arrecadacaoBrasil.head()

             MUNICIPIO  UF   ARRECADACAO
0      ABADIA DE GOIAS  GO 16042035.6700
1  ABADIA DOS DOURADOS  MG  9364074.0000
2            ABADIANIA  GO 17694247.4300
3               ABAETE  MG 31971554.6400
4           ABAETETUBA  PA 53802049.7400

In [11]:
arrecadacaoBrasil = arrecadacaoBrasil.rename(columns={'MUNICÍPIOS': 'MUNICIPIO', 'ARRECADAÇÃO' : 'ARRECADACAO'})

In [166]:
#LIMPAR MEMORIA
import gc
del empresasBrasil
del duplicados
del empresasPE
del empresas
del PIB_Municipios
del Pib_selecionado
del PibPE2019
del MunicipioIBGE
del PibBrasil2019
del lista
del i
del colunasSelecionadas
del count
del estados

gc.collect()

14