In [1]:
import numpy as np
import pandas as pd
import xlrd

In [ ]:
# IMPORTAR EMPRESAS DE PE
empresasPE = pd.read_csv('D:\#PROJETOS\FURG\ECD-CIENCIA DE DADOS\#TCC-FURG\BASE-RFB-12-03-2022\TRATADA\empresasPE.csv', sep=',',encoding='UTF-8')

In [ ]:
empresasPE.shape

In [ ]:
empresasPE.info()

In [ ]:
#VERIFICAR VALORES FALTANTES
print(pd.isnull(empresasPE).sum())

In [ ]:
# EXCLUIR MEI
empresasPEsemMei = empresasPE[empresasPE['MEI']!='S']

In [ ]:
print("sem MEI = ", empresasPEsemMei.shape)
print("com MEI = ", empresasPE.shape)
print("Total de MEI =", empresasPE.shape[0] - empresasPEsemMei.shape[0])

In [ ]:
#VERIFICAR CNAES FISCAIS - AGREGAR AO DATASET EMPRESAS
empresasPEsemMei['CNAE_FISCAL'].value_counts().head()

In [ ]:
cnae = pd.read_csv('D:\#PROJETOS\FURG\ECD-CIENCIA DE DADOS\#TCC-FURG\BASE-RFB-12-03-2022\TRATADA\cnae.csv', sep=',',encoding='UTF-8')

In [ ]:
cnae.head()

In [ ]:
cnae = cnae.rename(columns={'N_CNAE': 'CNAE_FISCAL'})

In [ ]:
empresasPEsemMei = pd.merge(empresasPEsemMei,cnae, on='CNAE_FISCAL')

In [ ]:
empresasPEsemMei.info()

In [ ]:
#ANALISAR CNAES DAS EMPRESAS DE PE
empresasPEsemMei["DESC_CNAE"].value_counts().head()

In [ ]:
# EXCLUIR CNAE ['Atividades de organizações políticas', 'Atividade Econônica não informada']
empresasPEsemMei = empresasPEsemMei[empresasPEsemMei["DESC_CNAE"]!= "Atividades de organizações políticas"]
empresasPEsemMei = empresasPEsemMei[empresasPEsemMei["DESC_CNAE"]!="Atividade Econônica não informada"]
empresasPEsemMei["DESC_CNAE"].value_counts().head()

In [ ]:
#ANALISAR AS NATUREZAS JURIDICAS 
empresasPEsemMei["NATJU"].value_counts().head()

In [ ]:
#IMPORTAR E AGREGAR NATUREZA JURIDICA AO DATASET
import os
os.chdir("D:\#PROJETOS\FURG\ECD-CIENCIA DE DADOS\#TCC-FURG\BASE-RFB-12-03-2022\TRATADA")
natju = pd.read_csv('natju.csv', sep=",", encoding="UTF-8")

In [ ]:
natju.head()

In [ ]:
natju = natju.rename(columns={'N_NATJU': 'NATJU'})

In [ ]:
empresasPEsemMei = pd.merge(empresasPEsemMei,natju, on='NATJU')

In [ ]:
# naturezas juridicas para Excluir

empresasPEsemMei = empresasPEsemMei[empresasPEsemMei["DESC_NATJU"]!='Organização Religiosa']
empresasPEsemMei = empresasPEsemMei[empresasPEsemMei["DESC_NATJU"]!='Órgão Público do Poder Executivo Estadual ou do Distrito Federal']
empresasPEsemMei = empresasPEsemMei[empresasPEsemMei["DESC_NATJU"]!='Fundo Público da Administração Direta Municipal']
empresasPEsemMei = empresasPEsemMei[empresasPEsemMei["DESC_NATJU"]!='Empresa Pública']
empresasPEsemMei = empresasPEsemMei[empresasPEsemMei["DESC_NATJU"]!='Órgão Público do Poder Executivo Municipal']
empresasPEsemMei = empresasPEsemMei[empresasPEsemMei["DESC_NATJU"]!='Fundação Pública de Direito Público Estadual ou do Distrito Federal']
empresasPEsemMei = empresasPEsemMei[empresasPEsemMei["DESC_NATJU"]!='Município']
empresasPEsemMei = empresasPEsemMei[empresasPEsemMei["DESC_NATJU"]!='Autarquia Federal']
empresasPEsemMei = empresasPEsemMei[empresasPEsemMei["DESC_NATJU"]!='Órgão Público do Poder Executivo Federal']
empresasPEsemMei = empresasPEsemMei[empresasPEsemMei["DESC_NATJU"]!='Órgão Público do Poder Legislativo Municipal']
empresasPEsemMei = empresasPEsemMei[empresasPEsemMei["DESC_NATJU"]!='Autarquia Municipal']
empresasPEsemMei = empresasPEsemMei[empresasPEsemMei["DESC_NATJU"]!='Autarquia Estadual ou do Distrito Federal']
empresasPEsemMei = empresasPEsemMei[empresasPEsemMei["DESC_NATJU"]!='Fundação Pública de Direito Público Municipal']
empresasPEsemMei = empresasPEsemMei[empresasPEsemMei["DESC_NATJU"]!='Fundação Pública de Direito Público Federal']
empresasPEsemMei = empresasPEsemMei[empresasPEsemMei["DESC_NATJU"]!='Organização Social (OS)']
empresasPEsemMei = empresasPEsemMei[empresasPEsemMei["DESC_NATJU"]!='Consórcio Público de Direito Público (Associação Pública)']
empresasPEsemMei = empresasPEsemMei[empresasPEsemMei["DESC_NATJU"]!='Órgão Público Autônomo Municipal']
empresasPEsemMei = empresasPEsemMei[empresasPEsemMei["DESC_NATJU"]!='Fundo Público da Administração Direta Estadual ou do Distrito Federal']
empresasPEsemMei = empresasPEsemMei[empresasPEsemMei["DESC_NATJU"]!='Órgão de Direção Local de Partido Político']
empresasPEsemMei = empresasPEsemMei[empresasPEsemMei["DESC_NATJU"]!='Estabelecimento, no Brasil, de Fundação ou Associação Estrangeiras']
empresasPEsemMei = empresasPEsemMei[empresasPEsemMei["DESC_NATJU"]!='Representação Diplomática Estrangeira']
empresasPEsemMei = empresasPEsemMei[empresasPEsemMei["DESC_NATJU"]!='Órgão Público do Poder Judiciário Federal']
empresasPEsemMei = empresasPEsemMei[empresasPEsemMei["DESC_NATJU"]!='Estado ou Distrito Federal']
empresasPEsemMei = empresasPEsemMei[empresasPEsemMei["DESC_NATJU"]!='Órgão Público do Poder Judiciário Estadual']
empresasPEsemMei = empresasPEsemMei[empresasPEsemMei["DESC_NATJU"]!='Órgão Público Autônomo Federal']
empresasPEsemMei = empresasPEsemMei[empresasPEsemMei["DESC_NATJU"]!='Fundo Público da Administração Direta Federal']
empresasPEsemMei = empresasPEsemMei[empresasPEsemMei["DESC_NATJU"]!='Órgão Público do Poder Legislativo Estadual ou do Distrito Federal']
empresasPEsemMei = empresasPEsemMei[empresasPEsemMei["DESC_NATJU"]!='Consórcio Público de Direito Privado']
empresasPEsemMei = empresasPEsemMei[empresasPEsemMei["DESC_NATJU"]!='Fundo Público da Administração Indireta Municipal']
empresasPEsemMei = empresasPEsemMei[empresasPEsemMei["DESC_NATJU"]!='Órgão de Direção Regional de Partido Político']
empresasPEsemMei = empresasPEsemMei[empresasPEsemMei["DESC_NATJU"]!='Órgão Público Autônomo Estadual ou do Distrito Federal']
empresasPEsemMei = empresasPEsemMei[empresasPEsemMei["DESC_NATJU"]!='Órgão Público do Poder Legislativo Federal']
empresasPEsemMei = empresasPEsemMei[empresasPEsemMei["DESC_NATJU"]!='Comunidade Indígena']
empresasPEsemMei = empresasPEsemMei[empresasPEsemMei["DESC_NATJU"]!='Fundação Pública de Direito Privado Federal']
empresasPEsemMei = empresasPEsemMei[empresasPEsemMei["DESC_NATJU"]!='Fundo Público da Administração Indireta Estadual ou do Distrito Federal']
empresasPEsemMei = empresasPEsemMei[empresasPEsemMei["DESC_NATJU"]!='Fundação Pública de Direito Privado Municipal']
empresasPEsemMei = empresasPEsemMei[empresasPEsemMei["DESC_NATJU"]!='Outras Instituições Extraterritoriais']
empresasPEsemMei = empresasPEsemMei[empresasPEsemMei["DESC_NATJU"]!='Entidade Sindical']
empresasPEsemMei["DESC_NATJU"].value_counts().head()

In [ ]:
empresasPEsemMei.shape

In [ ]:
empresasPEsemMei["DESC_CNAE"].value_counts().head()

In [ ]:
#AGREGAR MUNICIPIOS A TABELA DE EMPRESAS 
municipios_rfb = pd.read_csv('mun_rfb.csv',sep=";", encoding="UTF-8")

In [ ]:
municipios_rfb.head()

In [ ]:
empresasPEsemMei = empresasPEsemMei.rename(columns={'MUNICIPIO': 'N_MUNIC'})

In [ ]:
#MESCLAR TABELA MUNICIPIO RFB E EMPRESAS
empresasPEsemMei = pd.merge(empresasPEsemMei,municipios_rfb, on='N_MUNIC')

In [ ]:
empresasPEsemMei.head(1)

In [ ]:
municipios_ibge.head(1)

In [ ]:
# EXCLUIR ACENTUAÇÃO DO ConcatUF+Mun DA TABELA MUNICIPIOS IBGE
municipios_ibge['ConcatUF+Mun_1'] = 0
import unidecode 
i = 0
for i in range (0,len(municipios_ibge['ConcatUF+Mun'])):
  string = municipios_ibge['ConcatUF+Mun'][i]
  outputString = unidecode.unidecode(string)
  #print(outputString)
  municipios_ibge['ConcatUF+Mun_1'].loc[i] = outputString
  i = i + 1

municipios_ibge['ConcatUF+Mun_1'].head()

In [ ]:
#MESCLAR TABELA MUNICIPIO IBGE E EMPRESAS
empresasPEsemMei = pd.merge(empresasPEsemMei,municipios_ibge, on='ConcatUF+Mun')

In [ ]:
empresasPEsemMei.info()

In [ ]:
empresasPEsemMei.head(1)

In [ ]:
#EXPORTAR TABELA empresasPEsemMei
empresasPEsemMei.to_csv('empresasPEsemMei', index=False)

In [ ]:
Pib2019PE = pd.read_csv('PibPE2019.csv', sep=",", encoding="UTF-8")

In [ ]:
Pib2019PE.head()

In [ ]:
Pib2019PE = Pib2019PE.rename(columns={'COD_MUN': 'IBGE7'})

In [ ]:
#MESCLAR TABELA EMPRESAS E PIB
empresasPEsemMei = pd.merge(empresasPEsemMei,Pib2019PE, on='IBGE7')

In [ ]:
empresasPEsemMei.info()

In [ ]:
arrecadacaoPE9 = pd.read_csv('arrecadacaoPE',sep=',',encoding='UTF-8')

In [ ]:
arrecadacaoPE9.info()

In [ ]:
arrecadacaoPE9.head(1)

In [ ]:
#MESCLAR TABELA EMPRESAS E ARRECADAÇAO
empresasPEsemMei = pd.merge(empresasPEsemMei,arrecadacaoPE9, on='IBGE7')

In [ ]:
empresasPEsemMei.info()

In [ ]:
IDHBrasil = pd.read_excel('data.xlsx')

In [ ]:
IDHBrasil.head()

In [ ]:
#SEPARAR IDH DOS MUNICIPIOS DE PE
def listaPE(dataframe, valores):
    return dataframe.loc[dataframe['Estado'].isin(valores)]
lista = ['PE']
IDHBrasilPE = listaPE(IDHBrasil, lista)

In [ ]:
IDHBrasilPE.head()

In [ ]:
IDHBrasilPE['ConcatUF+Mun'] = IDHBrasilPE['ConcatUF+Mun'].str.upper()

In [ ]:
IDHBrasilPE['ConcatUF+Mun'].head()

In [ ]:
municipios_ibge['ConcatUF+Mun'].head()

In [ ]:
#SEPARAR IDH DOS MUNICIPIOS DE PE
def listaPE(dataframe, valores):
    return dataframe.loc[dataframe['UF'].isin(valores)]
lista = ['PE']
municipios_ibgepe = listaPE(municipios_ibge, lista)

In [ ]:
municipios_ibgepe['ConcatUF+Mun'].head()

In [ ]:
IDHBrasilPE

In [ ]:
#EXPORTAR TABELAS PREPARADAS
empresasPEsemMei.to_csv('empresasPEsemMei', index=False)
IDHBrasilPE.to_csv('IDHBrasilPE', index=False)
municipios_ibgepe.to_csv('municipios_ibgepe', index=False)
arrecadacaoPE9.to_csv('arrecadacaoPE', index=False)
Pib2019PE.to_csv('Pib2019PE', index=False)

In [4]:
!pip install chdir

Collecting chdir
  Downloading chdir-1.0.0-py3-none-any.whl (3.2 kB)
Installing collected packages: chdir
Successfully installed chdir-1.0.0

In [6]:
import os
os.chdir('D:\#PROJETOS\FURG\ECD-CIENCIA DE DADOS\#TCC-FURG\BASE-RFB-12-03-2022\TRATADA')

In [10]:
os.getcwd()

'D:\\#PROJETOS\\FURG\\ECD-CIENCIA DE DADOS\\#TCC-FURG\\BASE-RFB-12-03-2022\\TRATADA'

In [12]:
empresasPEFinal = pd.read_csv('empresasPEsemMei.csv',sep=',',encoding='UTF-8')

C:\Users\Elisangela\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (20) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [13]:
empresasPEFinal.head()

,CNPJ_BASICO,NATJU,CAP_SOCIAL,PORTE,CNPJ_ORDEM,CNPJ_DV,IDE_MAT_FIL,SIT_CADASTRAL,DATA_SIT_CADAS,MOT_SIT_CADAS,...,ESTADO,MUNICIPIO,PIB,MAIOR_ATIV,IBGE_y,Município_y,População 2010,Porte,ARRECADACAO,ConcatUF+Mun_1
0,41274006,2135.0,10000.0,1.0,1.0,34.0,1.0,2.0,20210318.0,0.0,...,Pernambuco,Garanhuns,2603254.057,Demais serviços,260600,Garanhuns,129408.0,Grande,2.705249e+08,PEGARANHUNS
1,44866545,2135.0,100000.0,1.0,1.0,50.0,1.0,2.0,20220114.0,0.0,...,Pernambuco,Garanhuns,2603254.057,Demais serviços,260600,Garanhuns,129408.0,Grande,2.705249e+08,PEGARANHUNS
2,2384197,2135.0,50000.0,1.0,1.0,35.0,1.0,8.0,20171018.0,1.0,...,Pernambuco,Garanhuns,2603254.057,Demais serviços,260600,Garanhuns,129408.0,Grande,2.705249e+08,PEGARANHUNS
3,3061559,2135.0,0.0,1.0,1.0,10.0,1.0,8.0,20170814.0,1.0,...,Pernambuco,Garanhuns,2603254.057,Demais serviços,260600,Garanhuns,129408.0,Grande,2.705249e+08,PEGARANHUNS
4,4301831,2135.0,0.0,1.0,1.0,54.0,1.0,4.0,20190130.0,63.0,...,Pernambuco,Garanhuns,2603254.057,Demais serviços,260600,Garanhuns,129408.0,Grande,2.705249e+08,PEGARANHUNS

In [16]:
empresasPEFinal.columns

Index(['CNPJ_BASICO', 'NATJU', 'CAP_SOCIAL', 'PORTE', 'CNPJ_ORDEM', 'CNPJ_DV',
       'IDE_MAT_FIL', 'SIT_CADASTRAL', 'DATA_SIT_CADAS', 'MOT_SIT_CADAS',
       'DATA_INI_ATV', 'CNAE_FISCAL', 'UF_x', 'N_MUNIC', 'OP_SIMPLES', 'MEI',
       'DESC_CNAE', 'DESC_NATJU', 'DESC_MUNIC', 'ConcatUF+Mun',
       'ConcatUF+Mun_1_x', 'IBGE_x', 'IBGE7', 'Município_x', 'UF_y',
       'ConcatUF+Mun_1_y', 'Ano', 'UF', 'ESTADO', 'MUNICIPIO', 'PIB',
       'MAIOR_ATIV', 'IBGE_y', 'Município_y', 'População 2010', 'Porte',
       'ARRECADACAO', 'ConcatUF+Mun_1'],
      dtype='object')

In [100]:
IDHBrasilPE = pd.read_csv('IDHBrasilPE.csv', sep=';',encoding='UTF-8',skipinitialspace = True )
municipios_ibgepe = pd.read_csv('municipios_ibgepe.csv', sep=',',encoding='UTF-8',skipinitialspace = True )
arrecadacaoPE = pd.read_csv('arrecadacaoPE.csv', sep=';',encoding='UTF-8',skipinitialspace = True )
Pib2019PE = pd.read_csv('Pib2019PE.csv', sep=',',encoding='UTF-8',skipinitialspace = True )

In [101]:
IDHBrasilPE.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185 entries, 0 to 184
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Territorialidade          185 non-null    object
 1   Estado                    185 non-null    object
 2   ConcatUF+Mun              185 non-null    object
 3   Posição IDHM              185 non-null    int64
 4   IDHM                      185 non-null    int64
 5   Posição IDHM Renda        185 non-null    int64
 6   IDHM Renda                185 non-null    int64
 7   Posição IDHM Educação     185 non-null    int64
 8   IDHM Educação             185 non-null    int64
 9   Posição IDHM Longevidade  185 non-null    int64
 10  IDHM Longevidade          185 non-null    int64
dtypes: int64(8), object(3)
memory usage: 16.0+ KB

In [102]:
municipios_ibgepe = municipios_ibgepe.rename(columns={'Município': 'MUNICIPIO'})
municipios_ibgepe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185 entries, 0 to 184
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ConcatUF+Mun    185 non-null    object
 1   IBGE            185 non-null    int64
 2   IBGE7           185 non-null    int64
 3   MUNICIPIO       185 non-null    object
 4   UF              185 non-null    object
 5   ConcatUF+Mun_1  185 non-null    object
dtypes: int64(2), object(4)
memory usage: 8.8+ KB

In [103]:
IDHBrasilPE = IDHBrasilPE.rename(columns={'Territorialidade': 'MUNICIPIO'})
IDHBrasilPE.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185 entries, 0 to 184
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   MUNICIPIO                 185 non-null    object
 1   Estado                    185 non-null    object
 2   ConcatUF+Mun              185 non-null    object
 3   Posição IDHM              185 non-null    int64
 4   IDHM                      185 non-null    int64
 5   Posição IDHM Renda        185 non-null    int64
 6   IDHM Renda                185 non-null    int64
 7   Posição IDHM Educação     185 non-null    int64
 8   IDHM Educação             185 non-null    int64
 9   Posição IDHM Longevidade  185 non-null    int64
 10  IDHM Longevidade          185 non-null    int64
dtypes: int64(8), object(3)
memory usage: 16.0+ KB

In [104]:
IDHBrasilPE.head()

,MUNICIPIO,Estado,ConcatUF+Mun,Posição IDHM,IDHM,Posição IDHM Renda,IDHM Renda,Posição IDHM Educação,IDHM Educação,Posição IDHM Longevidade,IDHM Longevidade
0,Abreu E Lima,PE,PEABREU E LIMA,146,679,104,791,145,632,213,625
1,Afogados da Ingazeira,PE,PEAFOGADOS DA INGAZEIRA,168,657,88,807,212,565,215,623
2,Afrânio,PE,PEAFRÂNIO,237,588,134,761,284,493,296,542
3,Agrestina,PE,PEAGRESTINA,233,592,135,76,307,47,257,581
4,Água Preta,PE,PEÁGUA PRETA,272,553,134,761,345,432,324,514

In [105]:
arrecadacaoPE = arrecadacaoPE.rename(columns={'Município':'MUNICIPIO'})
arrecadacaoPE.head()

,IBGE,IBGE7,MUNICIPIO,População 2010,Porte,ARRECADACAO,ConcatUF+Mun
0,260005,2600054,Abreu e Lima,944290,Médio,"R$ 134.509.358,51",PEABREU E LIMA
1,260010,2600104,Afogados da Ingazeira,350880,Pequeno II,"R$ 23.230.466,75",PEAFOGADOS DA INGAZEIRA
2,260020,2600203,Afrânio,175860,Pequeno I,"R$ 7.545.113,51",PEAFRANIO
3,260030,2600302,Agrestina,226790,Pequeno II,"R$ 12.369.384,90",PEAGRESTINA
4,260040,2600401,Água Preta,330950,Pequeno II,"R$ 6.682.769,04",PEAGUA PRETA

In [106]:
Pib2019PE.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185 entries, 0 to 184
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Ano         185 non-null    int64
 1   UF          185 non-null    object
 2   ESTADO      185 non-null    object
 3   IBGE7       185 non-null    int64
 4   MUNICIPIO   185 non-null    object
 5   PIB         185 non-null    float64
 6   MAIOR_ATIV  185 non-null    object
dtypes: float64(1), int64(2), object(4)
memory usage: 10.2+ KB

In [107]:
#MESCLAR TABELA MUNICIPIO RFB E EMPRESAS
IDHBrasilPE2 = pd.merge(IDHBrasilPE,municipios_ibgepe, on='ConcatUF+Mun')

In [108]:
IDHBrasilPE2

,MUNICIPIO_x,Estado,ConcatUF+Mun,Posição IDHM,IDHM,Posição IDHM Renda,IDHM Renda,Posição IDHM Educação,IDHM Educação,Posição IDHM Longevidade,IDHM Longevidade,IBGE,IBGE7,MUNICIPIO_y,UF,ConcatUF+Mun_1
0,Abreu E Lima,PE,PEABREU E LIMA,146,679,104,791,145,632,213,625,260005,2600054,Abreu e Lima,PE,PEABREU E LIMA
1,Afogados da Ingazeira,PE,PEAFOGADOS DA INGAZEIRA,168,657,88,807,212,565,215,623,260010,2600104,Afogados da Ingazeira,PE,PEAFOGADOS DA INGAZEIRA
2,Afrânio,PE,PEAFRÂNIO,237,588,134,761,284,493,296,542,260020,2600203,Afrânio,PE,PEAFRANIO
3,Agrestina,PE,PEAGRESTINA,233,592,135,76,307,47,257,581,260030,2600302,Agrestina,PE,PEAGRESTINA
4,Água Preta,PE,PEÁGUA PRETA,272,553,134,761,345,432,324,514,260040,2600401,Água Preta,PE,PEAGUA PRETA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178,Vertente do Lério,PE,PEVERTENTE DO LÉRIO,262,563,169,726,316,461,306,532,261618,2616183,Vertente do Lério,PE,PEVERTENTE DO LERIO
179,Vertentes,PE,PEVERTENTES,243,582,167,728,327,45,236,602,261620,2616209,Vertentes,PE,PEVERTENTES
180,Vicência,PE,PEVICÊNCIA,220,605,141,754,243,534,287,551,261630,2616308,Vicência,PE,PEVICENCIA
181,Vitória de Santo Antão,PE,PEVITÓRIA DE SANTO ANTÃO,185,64,127,768,234,543,209,629,261640,2616407,Vitória de Santo Antão,PE,PEVITORIA DE SANTO ANTAO
182,Xexéu,PE,PEXEXÉU,273,552,192,703,341,436,289,549,261650,2616506,Xexéu,PE,PEXEXEU

In [150]:
#empresasPEFinal = pd.merge(IDHBrasilPE2,empresasPEFinal, on='IBGE7')
empresasPEFinal = pd.merge(Pib2019PE,empresasPEFinal, on='IBGE7')

C:\Users\ELISAN~1\AppData\Local\Temp/ipykernel_8000/1974334966.py:2: FutureWarning: Passing 'suffixes' which cause duplicate columns {'MUNICIPIO_y'} in the result is deprecated and will raise a MergeError in a future version.
  empresasPEFinal = pd.merge(Pib2019PE,empresasPEFinal, on='IBGE7')

In [151]:
empresasPEFinal.columns

Index(['Ano_x', 'UF', 'ESTADO_x', 'IBGE7', 'MUNICIPIO_x', 'PIB_x',
       'MAIOR_ATIV_x', 'index', 'MUNICIPIO_x', 'Estado', 'ConcatUF+Mun_x',
       'Posição IDHM', 'IDHM', 'Posição IDHM Renda', 'IDHM Renda',
       'Posição IDHM Educação', 'IDHM Educação', 'Posição IDHM Longevidade',
       'IDHM Longevidade', 'IBGE', 'MUNICIPIO_y', 'UF_x', 'ConcatUF+Mun_1_x',
       'CNPJ_BASICO', 'NATJU', 'CAP_SOCIAL', 'PORTE', 'CNPJ_ORDEM', 'CNPJ_DV',
       'IDE_MAT_FIL', 'SIT_CADASTRAL', 'DATA_SIT_CADAS', 'MOT_SIT_CADAS',
       'DATA_INI_ATV', 'CNAE_FISCAL', 'UF_x', 'N_MUNIC', 'OP_SIMPLES', 'MEI',
       'DESC_CNAE', 'DESC_NATJU', 'DESC_MUNIC', 'ConcatUF+Mun_y',
       'ConcatUF+Mun_1_x', 'IBGE_x', 'Município_x', 'UF_y', 'ConcatUF+Mun_1_y',
       'Ano_y', 'UF_y', 'ESTADO_y', 'MUNICIPIO_y', 'PIB_y', 'MAIOR_ATIV_y',
       'IBGE_y', 'Município_y', 'População 2010', 'Porte', 'ARRECADACAO',
       'ConcatUF+Mun_1_y'],
      dtype='object')

In [159]:
empresasPEFinal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 804032 entries, 0 to 804031
Data columns (total 60 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Ano_x                     804032 non-null  int64
 1   UF                        804032 non-null  object
 2   ESTADO_x                  804032 non-null  object
 3   IBGE7                     804032 non-null  int64
 4   MUNICIPIO_x               804032 non-null  object
 5   PIB_x                     804032 non-null  float64
 6   MAIOR_ATIV_x              804032 non-null  object
 7   index                     804032 non-null  int64
 8   MUNICIPIO_x               804032 non-null  object
 9   Estado                    804032 non-null  object
 10  ConcatUF+Mun_x            804032 non-null  object
 11  Posição IDHM              804032 non-null  int64
 12  IDHM                      804032 non-null  int64
 13  Posição IDHM Renda        804032 non-null  int64
 14  IDHM Renda                804032 non-null  int64
 15  Posição IDHM Educação     804032 non-null  int64
 16  IDHM Educação             804032 non-null  int64
 17  Posição IDHM Longevidade  804032 non-null  int64
 18  IDHM Longevidade          804032 non-null  int64
 19  IBGE                      804032 non-null  int64
 20  MUNICIPIO_y               804032 non-null  object
 21  UF_x                      804032 non-null  object
 22  ConcatUF+Mun_1_x          804032 non-null  object
 23  CNPJ_BASICO               804032 non-null  int64
 24  NATJU                     804032 non-null  float64
 25  CAP_SOCIAL                804032 non-null  float64
 26  PORTE                     804032 non-null  float64
 27  CNPJ_ORDEM                804032 non-null  float64
 28  CNPJ_DV                   804032 non-null  float64
 29  IDE_MAT_FIL               804032 non-null  float64
 30  SIT_CADASTRAL             804032 non-null  float64
 31  DATA_SIT_CADAS            804032 non-null  float64
 32  MOT_SIT_CADAS             804032 non-null  float64
 33  DATA_INI_ATV              804032 non-null  float64
 34  CNAE_FISCAL               804032 non-null  float64
 35  UF_x                      804032 non-null  object
 36  N_MUNIC                   804032 non-null  int64
 37  OP_SIMPLES                437559 non-null  object
 38  MEI                       437559 non-null  object
 39  DESC_CNAE                 804032 non-null  object
 40  DESC_NATJU                804032 non-null  object
 41  DESC_MUNIC                804032 non-null  object
 42  ConcatUF+Mun_y            804032 non-null  object
 43  ConcatUF+Mun_1_x          804032 non-null  object
 44  IBGE_x                    804032 non-null  int64
 45  Município_x               804032 non-null  object
 46  UF_y                      804032 non-null  object
 47  ConcatUF+Mun_1_y          804032 non-null  object
 48  Ano_y                     804032 non-null  int64
 49  UF_y                      804032 non-null  object
 50  ESTADO_y                  804032 non-null  object
 51  MUNICIPIO_y               804032 non-null  object
 52  PIB_y                     804032 non-null  float64
 53  MAIOR_ATIV_y              804032 non-null  object
 54  IBGE_y                    804032 non-null  int64
 55  Município_y               804032 non-null  object
 56  População 2010            804032 non-null  float64
 57  Porte                     804032 non-null  object
 58  ARRECADACAO               804032 non-null  float64
 59  ConcatUF+Mun_1_y          804032 non-null  object
dtypes: float64(15), int64(17), object(28)
memory usage: 374.2+ MB

In [157]:
empresasPEFinal.to_csv('empresasPEFinal_tabelacheia.csv', index = False)

In [230]:
#SEPARAR PIB POR COLUNAS SELECIONADAS
BaseFinalSel = pd.read_csv('empresasPEFinal_tabelacheia.csv', sep=',', encoding='UTF-8', usecols= ['CNPJ_BASICO','CNPJ_ORDEM','DATA_SIT_CADAS','MOT_SIT_CADAS','Posição IDHM','IDHM','IDHM Renda','IDHM Educação','IDHM Longevidade','IBGE','IBGE7','NATJU','CAP_SOCIAL','PORTE','IDE_MAT_FIL','DATA_INI_ATV','CNAE_FISCAL','ARRECADACAO','PIB_y','População 2010','SIT_CADASTRAL'])

In [231]:
BaseFinalSel.head()

,IBGE7,Posição IDHM,IDHM,IDHM Renda,IDHM Educação,IDHM Longevidade,IBGE,CNPJ_BASICO,NATJU,CAP_SOCIAL,PORTE,CNPJ_ORDEM,IDE_MAT_FIL,SIT_CADASTRAL,DATA_SIT_CADAS,MOT_SIT_CADAS,DATA_INI_ATV,CNAE_FISCAL,PIB_y,População 2010,ARRECADACAO
0,2600054,146,679,791,632,625,260005,45298913,2135.0000,10000.0000,1.0000,1.0000,1.0000,2.0000,20220215.0000,0.0000,20220215.0000,4530705.0000,1775521.6620,94429.0000,134509358.5100
1,2600054,146,679,791,632,625,260005,69920775,2135.0000,0.0000,1.0000,1.0000,1.0000,2.0000,20051103.0000,0.0000,19930218.0000,4530705.0000,1775521.6620,94429.0000,134509358.5100
2,2600054,146,679,791,632,625,260005,4393610,2135.0000,0.0000,1.0000,1.0000,1.0000,8.0000,20180717.0000,1.0000,20010416.0000,4530705.0000,1775521.6620,94429.0000,134509358.5100
3,2600054,146,679,791,632,625,260005,7440052,2135.0000,0.0000,5.0000,1.0000,1.0000,8.0000,20150209.0000,73.0000,20050616.0000,4530705.0000,1775521.6620,94429.0000,134509358.5100
4,2600054,146,679,791,632,625,260005,35459387,2135.0000,20000.0000,5.0000,1.0000,1.0000,4.0000,20190116.0000,63.0000,19901017.0000,4530705.0000,1775521.6620,94429.0000,134509358.5100

In [232]:
BaseFinalSel.columns

Index(['IBGE7', 'Posição IDHM', 'IDHM', 'IDHM Renda', 'IDHM Educação',
       'IDHM Longevidade', 'IBGE', 'CNPJ_BASICO', 'NATJU', 'CAP_SOCIAL',
       'PORTE', 'CNPJ_ORDEM', 'IDE_MAT_FIL', 'SIT_CADASTRAL', 'DATA_SIT_CADAS',
       'MOT_SIT_CADAS', 'DATA_INI_ATV', 'CNAE_FISCAL', 'PIB_y',
       'População 2010', 'ARRECADACAO'],
      dtype='object')

In [233]:
BaseFinalSel.shape

(804032, 21)

In [ ]:
#MAQUIAGEM DOS DADOS

In [234]:
# configurando variáveis do ambiente
import warnings
warnings.filterwarnings('ignore')
pd.options.display.max_columns = None
pd.options.display.max_rows = None
pd.options.display.float_format = '{:.4f}'.format

In [235]:
BaseFinalSel.head()

,IBGE7,Posição IDHM,IDHM,IDHM Renda,IDHM Educação,IDHM Longevidade,IBGE,CNPJ_BASICO,NATJU,CAP_SOCIAL,PORTE,CNPJ_ORDEM,IDE_MAT_FIL,SIT_CADASTRAL,DATA_SIT_CADAS,MOT_SIT_CADAS,DATA_INI_ATV,CNAE_FISCAL,PIB_y,População 2010,ARRECADACAO
0,2600054,146,679,791,632,625,260005,45298913,2135.0000,10000.0000,1.0000,1.0000,1.0000,2.0000,20220215.0000,0.0000,20220215.0000,4530705.0000,1775521.6620,94429.0000,134509358.5100
1,2600054,146,679,791,632,625,260005,69920775,2135.0000,0.0000,1.0000,1.0000,1.0000,2.0000,20051103.0000,0.0000,19930218.0000,4530705.0000,1775521.6620,94429.0000,134509358.5100
2,2600054,146,679,791,632,625,260005,4393610,2135.0000,0.0000,1.0000,1.0000,1.0000,8.0000,20180717.0000,1.0000,20010416.0000,4530705.0000,1775521.6620,94429.0000,134509358.5100
3,2600054,146,679,791,632,625,260005,7440052,2135.0000,0.0000,5.0000,1.0000,1.0000,8.0000,20150209.0000,73.0000,20050616.0000,4530705.0000,1775521.6620,94429.0000,134509358.5100
4,2600054,146,679,791,632,625,260005,35459387,2135.0000,20000.0000,5.0000,1.0000,1.0000,4.0000,20190116.0000,63.0000,19901017.0000,4530705.0000,1775521.6620,94429.0000,134509358.5100

In [236]:
# FORMATAR NUMERO  INTEIRO 
BaseFinalSel['NATJU'] = BaseFinalSel['NATJU'].astype('int')
BaseFinalSel['CAP_SOCIAL'] = BaseFinalSel['CAP_SOCIAL'].astype('int')
BaseFinalSel['PORTE'] = BaseFinalSel['PORTE'].astype('int')
BaseFinalSel['IDE_MAT_FIL'] = BaseFinalSel['IDE_MAT_FIL'].astype('int')
BaseFinalSel['SIT_CADASTRAL'] = BaseFinalSel['SIT_CADASTRAL'].astype('int')
BaseFinalSel['MOT_SIT_CADAS'] = BaseFinalSel['MOT_SIT_CADAS'].astype('int')
BaseFinalSel['População 2010'] = BaseFinalSel['População 2010'].astype('int')
BaseFinalSel['CNAE_FISCAL'] = BaseFinalSel['CNAE_FISCAL'].astype('int')
BaseFinalSel['DATA_INI_ATV'] = BaseFinalSel['DATA_INI_ATV'].astype('int')
BaseFinalSel['DATA_SIT_CADAS'] = BaseFinalSel['DATA_SIT_CADAS'].astype('int')
BaseFinalSel['DATA_INI_ATV'] = BaseFinalSel['DATA_INI_ATV'].astype('str')
BaseFinalSel['DATA_SIT_CADAS'] = BaseFinalSel['DATA_SIT_CADAS'].astype('str')

In [237]:
BaseFinalSel.head()

,IBGE7,Posição IDHM,IDHM,IDHM Renda,IDHM Educação,IDHM Longevidade,IBGE,CNPJ_BASICO,NATJU,CAP_SOCIAL,PORTE,CNPJ_ORDEM,IDE_MAT_FIL,SIT_CADASTRAL,DATA_SIT_CADAS,MOT_SIT_CADAS,DATA_INI_ATV,CNAE_FISCAL,PIB_y,População 2010,ARRECADACAO
0,2600054,146,679,791,632,625,260005,45298913,2135,10000,1,1.0000,1,2,20220215,0,20220215,4530705,1775521.6620,94429,134509358.5100
1,2600054,146,679,791,632,625,260005,69920775,2135,0,1,1.0000,1,2,20051103,0,19930218,4530705,1775521.6620,94429,134509358.5100
2,2600054,146,679,791,632,625,260005,4393610,2135,0,1,1.0000,1,8,20180717,1,20010416,4530705,1775521.6620,94429,134509358.5100
3,2600054,146,679,791,632,625,260005,7440052,2135,0,5,1.0000,1,8,20150209,73,20050616,4530705,1775521.6620,94429,134509358.5100
4,2600054,146,679,791,632,625,260005,35459387,2135,20000,5,1.0000,1,4,20190116,63,19901017,4530705,1775521.6620,94429,134509358.5100

In [238]:
BaseFinalSel['ANO_SIT_CADAS'] = BaseFinalSel['DATA_SIT_CADAS'].str.slice(0, 4)
BaseFinalSel['ANO_INI_ATV'] = BaseFinalSel['DATA_INI_ATV'].str.slice(0, 4)
BaseFinalSel['ANO_SIT_CADAS'] = BaseFinalSel['ANO_SIT_CADAS'].astype('int')
BaseFinalSel['ANO_INI_ATV'] = BaseFinalSel['ANO_INI_ATV'].astype('int')

In [239]:
BaseFinalSel.head()

,IBGE7,Posição IDHM,IDHM,IDHM Renda,IDHM Educação,IDHM Longevidade,IBGE,CNPJ_BASICO,NATJU,CAP_SOCIAL,PORTE,CNPJ_ORDEM,IDE_MAT_FIL,SIT_CADASTRAL,DATA_SIT_CADAS,MOT_SIT_CADAS,DATA_INI_ATV,CNAE_FISCAL,PIB_y,População 2010,ARRECADACAO,ANO_SIT_CADAS,ANO_INI_ATV
0,2600054,146,679,791,632,625,260005,45298913,2135,10000,1,1.0000,1,2,20220215,0,20220215,4530705,1775521.6620,94429,134509358.5100,2022,2022
1,2600054,146,679,791,632,625,260005,69920775,2135,0,1,1.0000,1,2,20051103,0,19930218,4530705,1775521.6620,94429,134509358.5100,2005,1993
2,2600054,146,679,791,632,625,260005,4393610,2135,0,1,1.0000,1,8,20180717,1,20010416,4530705,1775521.6620,94429,134509358.5100,2018,2001
3,2600054,146,679,791,632,625,260005,7440052,2135,0,5,1.0000,1,8,20150209,73,20050616,4530705,1775521.6620,94429,134509358.5100,2015,2005
4,2600054,146,679,791,632,625,260005,35459387,2135,20000,5,1.0000,1,4,20190116,63,19901017,4530705,1775521.6620,94429,134509358.5100,2019,1990

In [240]:
BaseFinalSel['TEMPO_VIDA'] = BaseFinalSel['ANO_SIT_CADAS'] - BaseFinalSel['ANO_INI_ATV']

In [242]:
BaseFinalSel.head()

,IBGE7,Posição IDHM,IDHM,IDHM Renda,IDHM Educação,IDHM Longevidade,IBGE,CNPJ_BASICO,NATJU,CAP_SOCIAL,PORTE,CNPJ_ORDEM,IDE_MAT_FIL,SIT_CADASTRAL,DATA_SIT_CADAS,MOT_SIT_CADAS,DATA_INI_ATV,CNAE_FISCAL,PIB_y,População 2010,ARRECADACAO,ANO_SIT_CADAS,ANO_INI_ATV,TEMPO_VIDA
0,2600054,146,679,791,632,625,260005,45298913,2135,10000,1,1.0000,1,2,20220215,0,20220215,4530705,1775521.6620,94429,134509358.5100,2022,2022,0
1,2600054,146,679,791,632,625,260005,69920775,2135,0,1,1.0000,1,2,20051103,0,19930218,4530705,1775521.6620,94429,134509358.5100,2005,1993,12
2,2600054,146,679,791,632,625,260005,4393610,2135,0,1,1.0000,1,8,20180717,1,20010416,4530705,1775521.6620,94429,134509358.5100,2018,2001,17
3,2600054,146,679,791,632,625,260005,7440052,2135,0,5,1.0000,1,8,20150209,73,20050616,4530705,1775521.6620,94429,134509358.5100,2015,2005,10
4,2600054,146,679,791,632,625,260005,35459387,2135,20000,5,1.0000,1,4,20190116,63,19901017,4530705,1775521.6620,94429,134509358.5100,2019,1990,29

In [243]:
BaseFinalSel.to_csv('BaseFinalSel.csv', index = False)